@import "../common/vars";
@import "../common/mixins";

.contact {
  .head-page {
    height: 200px;
  }
}

.contact-form {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 80px 0;
  position: relative;
  padding: 60px 0;
  width: 100%;
  background: $primary-color;
  border-radius: 5px;


  form {
    display: flex;
    flex-direction: column;
    padding-right: 9.68%;
    width: 41.47%;

    > span {
      font-size: 34px;
      line-height: 40px;
      font-weight: 700;
      display: block;
      margin-bottom: 30px;
      color: #FFFFFF;
    }

    label {
      width: 100%;

      &:not(:last-of-type) {
        margin-bottom: 20px;
      }

      input, textarea {
        width: 100%;
        border: 1px solid #556C7E;
        background: #33414B;
        padding: 16px 15px;
        font-size: 18px;
        line-height: 21px;
        color: #fff;
        outline: none;

        &::placeholder {
          color: $grey;
        }
      }

      input {
        height: 50px;
      }

      textarea {
        height: 181px;
        resize: none;
      }
    }

    button {
      width: 249px;
      height: 80px;
      margin-top: 30px;
      margin-left: auto;
    }
  }
}

.contact-form-bg {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 56.66%;

  .green-mask {
    background: #65D521;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 10px;
    z-index: 2;
  }

  img {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 5;
    border-radius: 5px 0 0 5px;
  }

  svg {
    position: absolute;
    top: 50%;
    left: 21.61%;
    transform: translateY(-50%);
    z-index: 5;
  }
}

.contact-form-bg-md {
  display: none;
}

@media screen and (max-width: 991px) {
  .contact {
    .container {
      padding: 0 20px;
    }
  }
  .contact-form {
    flex-direction: column;
    margin: 0;
    padding: 0;
    width: 100vw;
    transform: translateX(-20px);

    form {
      padding: 0 10%;
      width: 80%;
    }
  }
  .contact-form-bg {
    .green-mask {
      left: 0;
    }

    img {
      border-radius: 0;
    }

    svg {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .contact-form-bg-xl {
    display: none;
  }

  .contact-form-bg-md {
    display: block;
    width: 100%;
    position: relative;

    .green-mask {
      top: 10px;
    }
  }
}

@media screen and (max-width: 575px) {
  .contact-form {
    form {
      padding: 0 20px;
      width: 100%;

      button {
        width: 100%;
      }
    }
  }
}

