@import "../common/mixins";
@import "../common/vars";

.hero {
  min-height: 635px;
  height: 635px;
  position: relative;
  margin: -80px 0 241px;
}

.hero-swiper {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
}

.hero-swiper-slide {
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(1.1);
  }
}

.hero-swiper-slide.swiper-slide-active {
  img {
    animation: zoom 6000ms infinite ease;
  }
}

.hero-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 5;
  max-width: 505px;

  > .section-title {
    margin-bottom: 20px;
    color: #fff;
  }
  > p {
    font-size: 24px;
    line-height: 28px;
    font-weight: 300;
    margin-bottom: 20px;
    color: #fff;
  }
  > a {
    max-width: 285px;
    height: 80px;
  }
}

.hero-icons {
  display: flex;
  margin: -36px 0;
  .icon-self {
    width: 25%;
    height: 220px;
    padding: 0 45px 45px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    border: 1px solid $light-grey;
    > span {
      display: block;
      margin-top: 15px;
      font-size: 24px;
      line-height: 28px;
      font-weight: 500;
    }

    &:nth-child(even) {
      background: $light-grey;
    }

    &:nth-child(odd) {
      background: #fff;
    }
  }
}

@media screen and (max-width: 1439px){
    .hero-icons {
      .icon-self {
        > span {
          font-size: 20px;
        }
      }
    }
}

@media screen and (max-width: 1300px){
  .hero-icons {
    .icon-self {
      padding: 30px;
      > span {
      }
    }
  }
}


@media screen and (max-width: 1199px){
  .hero-icons {
    .icon-self {
      padding: 20px;
      height: 180px;
      > span {
        font-size: 17px;
      }
    }
  }
}

@media screen and (max-width: 991px){
  .hero {
    min-height: 660px;
    margin: -80px 0 426px;
  }

  .hero-icons {
    display: flex;
    flex-wrap: wrap;
    margin-top: -92px;
    .icon-self {
      padding: 55px 20px 20px;
      height: 220px;
      width: 50%;
      justify-content: flex-start;
      > span {
        font-size: 18px;
        line-height: 21px;
      }

      &:nth-child(3) {
        order: 2;
      }
    }
  }
}