@import "../common/mixins";
@import "../common/vars";

.news {
  padding: 60px 0 90px;

  .container {
    > a {
      display: none;
      width: 250px;
      height: 80px;
      margin-top: 60px;
    }
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 75px;
    width: 100%;

    a {
      width: 250px;
      height: 80px;
    }
  }

}


.news-swiper {
  .swiper-button-prev, .swiper-button-next {
    display: none;
  }
}

.news-swiper-slide {
  height: 320px;
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  padding: 15px 20px 30px;

  .bg {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: -1;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 5px;
    }
  }

  &:hover {
    cursor: pointer;

    &:after {
      background: transparent;
    }
  }

  &:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #33333380;
    z-index: -1;
    transition: all .4s ease;
    border-radius: 5px;
  }

  .data, .title, .text {
    color: #fff;
  }

  .data, .text {
    font-size: 16px;
    line-height: 22px;
  }

  .data {
    margin-bottom: 111px;
    display: block;
  }

  .title {
    display: block;
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
    margin-bottom: 10px;
  }

  .text {
    color: #fff;
  }

  a {
    text-decoration: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: auto;
    z-index: 20;

    span {
      color: #fff;
      font-size: 14px;
      line-height: 20px;
      margin-right: 20px;
    }

    svg {

    }
  }
}


@media screen and (max-width: 991px) {
  .news {
    padding: 80px 0;

    .container {
      > a {
        display: flex;
      }
    }

    header {
      margin-bottom: 60px;

      a {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .news-swiper {
    .swiper-button-prev, .swiper-button-next {
      display: flex;
      bottom: 0;
      top: auto;
    }

    .swiper-button-next {
      right: 0;
    }

    .swiper-button-prev {
      left: auto;
      right: 61px;
    }
  }

  .news-swiper-wrapper {
    padding-bottom: 60px;
  }
}

@media screen and (max-width: 575px) {
  .news {
    .container {
      > a {
        width: 100%;
      }
    }
  }
}

