@import "../common/vars";
@import "../common/mixins";

.our-team {
  padding: 260px 0 0;
}

.our-team-wrapper {
  > div {

    .text {
      position: relative;

      .line-left, .line-right {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 9px;
        height: 0;
        background: $green;
      }

      .line-left {
        left: 0;
      }

      .line-right {
        right: 0;
      }
    }

    &:nth-child(odd) {
      flex-direction: row;

      .text {
        padding: 0 114px 0 44px;
      }
    }

    &:nth-child(even) {
      flex-direction: row-reverse;

      .text {
        padding: 0 44px 0 114px;
      }
    }
  }
}

.our-team-self {
  display: flex;
  align-items: center;
  margin-top: 80px;
  height: 407px;

  .text {
    width: 50%;

    span {
      font-size: 34px;
      line-height: 40px;
      font-weight: 700;
      display: block;
      margin-bottom: 37px;
    }

    p {
      color: $secondary-color;
    }
  }

  .image {
    width: 50%;
    height: 100%;
    font-size: 0;
    position: relative;

    .bg {
      width: 0;
      overflow: hidden;
      height: 100%;
      position: absolute;

      img {
        width: 46.58vw;
        height: 100%;
        object-fit: cover;
      }
    }

    .bg.align-right {
      right: 0;
    }

    .bg.align-left {
      right: auto;
      left: 0;
    }
  }
}

@media screen and (max-width: 991px) {
  .our-team {
    padding: 80px 0 20px;

    .section-title {
      padding-bottom: 50px;
    }
  }

  .our-team-wrapper {
    > div {
      .text {
        .line-left, .line-right {
          height: 100%;
        }
      }

      &:nth-child(odd) {
        flex-direction: column;

        .text {
          padding: 0 0 0 30px;
        }
      }

      &:nth-child(even) {
        flex-direction: column;

        .text {
          padding: 0 30px 0;
        }
      }
    }
  }

  .our-team-self {
    margin: 0;
    height: auto;

    .text {
      width: 100%;
      margin: 60px 0;
      order: 2;
    }

    .image {
      width: 100%;
      height: 100%;
      position: relative;
      order: 1;

      .bg {
        width: 100%;
        overflow: hidden;
        height: 100%;
        position: relative;

        img {
          width: 100%;
          object-fit: cover;
        }
      }

      .bg.align-right {
        right: auto;
      }

      .bg.align-left {
        right: auto;
        left: auto;
      }
    }
  }
}