@import "../common/vars";
@import "../common/mixins";

.reviews {
  position: relative;
  > .section-title {
    display: none;
  }
}

.reviews-swiper {
  .swiper-button-prev, .swiper-button-next {
    top: auto;
    bottom: 80px;
  }

  .swiper-button-next {
    right: calc(43.61% + 107px);
  }
  .swiper-button-prev {
    left: auto;
    right: calc(43.61% + 107px + 61px);
  }
}

.reviews-swiper-slide {
  display: flex;
  justify-content: space-between;

  .slide-text {
    width: 56.39vw;
    padding: 0 107px 15% 77px;
    .section-title {
      margin: 80px 0;
      max-width: 440px;
    }
    > div {
      display: flex;
      align-items: flex-start;
      padding-left: 13.88%;
      svg {
        flex: 0 0 43px;
      }
      q {
        margin-left: 43px;
        max-width: 435px;
      }
    }
  }

  .slide-image {
    width: 43.61%;
    position: absolute;
    right: 0;
    font-size: 0;
    height: 100%;

    .bg {
      height: 100%;
      width: 0;
      position: absolute;
      right: 0;
    }

    img {
      width: 43.61vw;
      height: 100%;
      object-fit: cover;
    }
  }
}

@media screen and (max-width: 1199px) {
  .reviews-swiper {
    .swiper-button-prev, .swiper-button-next {
      bottom: 20px;
    }

    .swiper-button-next {
      right: calc(43.61% + 37px);
    }
    .swiper-button-prev {
      right: calc(43.61% + 37px + 61px);
    }
  }

  .reviews-swiper-slide {
    display: flex;
    justify-content: space-between;

    .slide-text {
      width: 56.39vw;
      padding: 0 107px 8% 77px;
    }
  }
}

@media screen and (max-width: 991px) {
  .reviews {
    position: relative;
    .section-title {
      display: block;
      padding: 80px 20px 50px;
    }
  }

  .reviews-swiper {
    .swiper-button-prev, .swiper-button-next {
      bottom: 80px;
    }

    .swiper-button-next {
      right: 20px;
    }
    .swiper-button-prev {
      right: calc(20px + 61px);
    }
  }

  .reviews-swiper-slide {
    flex-direction: column;

    .slide-text {
      width: 100vw;
      padding: 50px 20px 190px;
      order: 2;

      .section-title {
        display: none;
      }

      > div {
        padding-left: 0;
      }
    }

    .slide-image {
      width: 100%;
      height: 600px;
      position: relative;
      order: 1;

      .bg {
        width: 100%;
      }

      img {
        width: 100vw;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .reviews-swiper-slide {
    .slide-image {
      height: 450px;
    }
  }
}

@media screen and (max-width: 575px) {
  .reviews-swiper-slide {
    .slide-image {
      height: 382px;
    }
  }
}