@import "../common/vars";
@import "../common/mixins";


.breadcrumb {
  ol {
    list-style: none;
    display: flex;
    li {
      display: flex;
      align-items: center;
      &:not(:last-of-type) {
        a {
          color: $green;
          font-size: 12px;
          line-height: 14px;
          text-decoration: none;
        }
        &:after {
          content: url("../img/svg/arrow-right-2.svg");
          margin: 0 5px 0;
        }
      }
      &:last-of-type {
        span {
          color: #AFAFAF;
          font-size: 12px;
          line-height: 14px;
          text-decoration: none;
        }
      }
    }
  }
}