@import "../common/vars";
@import "../common/mixins";

.swiper-button-prev-custom, .swiper-button-next-custom {
  width: 60px;
  height: 60px;
  background: #C2CED7;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;



  svg {
    z-index: 10;
  }

  &:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    background: linear-gradient(56.01deg, #298860 0%, #65D521 101.79%);
    transition: opacity .4s ease;
  }

  &:before {
    display: flex;
    justify-content: center;
    opacity: 1;
    z-index: 5;
  }

  &:hover {
    &:after {
      opacity: 1;
    }
  }
}

.swiper-button-prev-custom {
  &:before {
    content: url("../img/svg/slider-arrow-left.svg");
  }
}

.swiper-button-next-custom {
  &:before {
    content: url("../img/svg/slider-arrow-right.svg");
  }
}

@media screen and (max-width: 991px) {
  .swiper-button-prev-custom, .swiper-button-next-custom {
    outline: none;

    &:hover {
      &:after {
        opacity: 0;
      }
    }
  }
}