@import "common/vars";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  color: $primary-color;
}

a, button {
  outline: none;
}

.container {
  max-width: 1440px;
  padding: 0 75px;
  margin: 0 auto;
  height: 100%;
}

.section-bg {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -1;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }
}

.section-title {
  font-size: 64px;
  line-height: 64px;
  font-weight: 700;
  display: block;
}

.d-none {
  display: none !important;
}

.no-scroll {
  overflow-y: hidden;
}

.h-80 {
  height: 80px;
  width: 100%;
  background: $primary-color;
  margin-top: -80px;
}

@media screen and (max-width: 991px) {
  .container {
    max-width: 1440px;
    padding: 0 20px;
  }

  .section-title {
    font-size: 42px;
    line-height: 50px;
    font-weight: 700;
  }
}